.media {
    max-width: 400px;
    min-height: 500px;
    max-height: 60vh;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3),
                -3px -3px 5px rgba(255, 255, 255, 0.05);
    border-radius: 20px;
}


.loader {
    margin: auto;
}

.hidden {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.media_container {
    text-align: center;
}