.main {
    padding: 1em;
    background-color: rgb(155, 235, 183);
    color: rgb(33, 55, 166);
    max-width: 800px;
    min-width: 370px;
}

.main > .header {
    text-align: right;
}

.main > .header {
    font-size: 20px;
    font-weight: bold;
}

.main > .header > span:hover {
    cursor: pointer;
}

.main > .content {
    padding: 1em;
}

.main > .content > .option > p {
    padding: 0 1em;
}

.main > .content > .option > button {
    background-color: rgb(155, 235, 183);
    color: rgb(33, 55, 166);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2),
                -3px -3px 3px rgba(255, 255, 255, 0.15);
    display: block;
    margin: auto;
    border: none;
    padding: 1em 2em;
    border-radius: 50px;
    font-weight: bold;
}

.main > .content > .option > button:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2),
                -1px -1px 3px rgba(255, 255, 255, 0.15);
    cursor: pointer;
}