.main_container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
}

.greetings {
    color: #FFFFFF;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    padding: 10px;
}

.greetings > h3 {
    margin: 0;
}

.hidden {
    display: none;
}


.card {
    width: fit-content;
    margin: auto;
}

.card:hover {
    cursor: pointer;
}

.card_header {
    padding: 10px;
    color: rgb(59, 59, 59);
    text-align: center
}

.nft_name {
    font-weight: bold;
    font-size: 18px;
}

.nft_title {
    padding: 5px;
    font-size: 16px;
}

.card_body {
    padding: 10px;
    text-align: left;
}

.card_footer {
    padding: 10px;
    margin: auto;
    text-align: center;
    color: rgb(116, 116, 116);
}

.card > .button_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
}

.button {
    margin: 15px;
    border: none;
    padding: 5px 20px;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
    background-color: rgb(155, 235, 183);
    color: rgb(42, 73, 220);
    border-radius: 25px;
    font-size: 18px;
}

.button:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: rgb(96, 234, 144);
}

.button[disabled] {
    background-color: rgb(105, 105, 105);
}

.loader_container {
    text-align: center;
    margin-top: 300px;
}

.create_wallet_container {
    margin-top: 20px;
}

.create_wallet_container > div {
    font-size: 15px;
}

.create_wallet_button {
    margin: 15px;
    border: solid 4px rgb(0, 98, 190);
    padding: 10px 30px;
    width: 60%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
    background-color: rgb(240, 240, 240);
    color: rgb(49, 49, 49);
    border-radius: 3px;
    font-size: 18px;
}

.create_wallet_button:hover {
    cursor: pointer;
    box-shadow: none;
    border-color: rgb(2, 86, 165);
}


@media only screen and (min-width: 1250px) {
 .greetings {
    float: left;
    margin-left: 20px;
 }
}