.main_container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
}

.greetings {
    color: #FFFFFF;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    padding: 10px;
}

.greetings > h3 {
    margin: 0;
}

.hidden {
    display: none;
}


.card {
    width: fit-content;
    margin: auto;
}

.card:hover {
    cursor: pointer;
}

.card_header {
    padding: 10px;
    color: rgb(59, 59, 59);
    text-align: center
}

.nft_name {
    font-weight: bold;
    font-size: 18px;
}

.nft_title {
    padding: 5px;
    font-size: 16px;
}

.card_body {
    padding: 10px;
    text-align: left;
}

.card_footer {
    padding: 10px;
    margin: auto;
    text-align: center;
    color: rgb(116, 116, 116);
}

.card > .button_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
}

.button {
    margin: 15px;
    border: none;
    padding: 5px 20px;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
    background-color: rgb(155, 235, 183);
    color: rgb(42, 73, 220);
    border-radius: 25px;
    font-size: 18px;
}

.button:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: rgb(96, 234, 144);
}

.button[disabled] {
    background-color: rgb(105, 105, 105);
}

.loader_container {
    text-align: center;
    margin-top: 300px;
}

.create_wallet_container {
    margin-top: 20px;
}

.create_wallet_container > div {
    font-size: 15px;
}

.create_wallet_button {
    margin: 15px;
    border: solid 4px rgb(0, 98, 190);
    padding: 10px 30px;
    width: 60%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
    background-color: rgb(240, 240, 240);
    color: rgb(49, 49, 49);
    border-radius: 3px;
    font-size: 18px;
}

.create_wallet_button:hover {
    cursor: pointer;
    box-shadow: none;
    border-color: rgb(2, 86, 165);
}

.confirm_modal {
    padding: 10px;
    margin: 0;
    background: rgb(154,234,183);
    background: -moz-linear-gradient(315deg, rgba(154,234,183,1) 0%, rgba(46,79,219,1) 100%);
    background: -webkit-linear-gradient(315deg, rgba(154,234,183,1) 0%, rgba(46,79,219,1) 100%);
    background: linear-gradient(315deg, rgba(154,234,183,1) 0%, rgba(46,79,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9aeab7",endColorstr="#2e4fdb",GradientType=1);
    padding: 40px;
}

.confirm_modal > .address_input_container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

.confirm_modal > .address_input_container {
    border: 2px solid rgb(255, 66, 66);
    margin-bottom: 30px;
}

.confirm_modal > .address_input_container > span {
    font-weight: bold;
    margin-right: 5px;
}

.confirm_modal > .address_input_container > .address_input {
    width: 300px;
    outline: none;
    border-style: none;
    color: rgb(81, 81, 81);
}

.confirm_modal div {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.confirm_modal > div > button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    font-weight: bold;
}

.confirm_modal > div > button:hover {
    box-shadow: none;
    cursor: pointer;
}

.confirm_modal > div > .proceed_btn {
    margin-right: 10px;
    background-color: rgb(167, 255, 167);
}

.confirm_modal > div > .proceed_btn:hover {
    background-color: rgb(107, 255, 107);
}

.confirm_modal > div > .cancel_btn {
    
}

.confirm_modal > div > .cancel_btn:hover{
    background-color: rgb(210, 210, 210);
}


@media only screen and (min-width: 1250px) {
 .greetings {
    float: left;
    margin-left: 20px;
 }
}